$colors: (
	primary: (
		// Soft orange
		orange: hsl(35 77% 62%),
		// Soft REd
		red: hsl(5 85% 63%),
	),
	neutral: (
		// off-white
		100: hsl(36 100% 99%),
		// Grayish blue
		200: hsl(233 8% 79%),
		// Dark Grayish blue
		300: hsl(236 13% 42%),
		// Very dark blue
		400: hsl(240 100% 5%),
	),
);
