@use "../abstracts" as *;

/*
 * Navigation
*/
.nav-container {
	position: relative;
	top: 0;
	left: 0;
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}

.nav-logo {
	display: block;
	width: 3rem;
	font-size: 2rem;
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 70vw;
	height: 100vh;
	padding: 10rem 1.5rem;
	// overflow: hidden;
	display: flex;
	flex-direction: column;

	background-color: var(--clr-neutral-100);
	z-index: -1;
	opacity: 0;
	transition: ease 1s, width;
	transform: translateX(70vw);
}

.nav-list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	font-size: 1.5rem;
}
