@use "../abstracts" as *;

/*
 * GRID SYSTEM
*/
.news-grid {
	display: grid;
	gap: 3.5rem;
	grid-auto-columns: 1fr;
	grid-template-areas:
		"one"
		"two"
		"three";
}

.news-article:first-child {
	grid-area: one;
}
.news-article:nth-child(2) {
	grid-area: two;
}
.news-article:nth-child(3) {
	grid-area: three;
}
